# DataFrame

In [3]:
import pandas as pd

### A dictionary

In [5]:
people = {
    "name" : ["afsana","rabeya","rukaia"],
    "email":["1@","2@","3@"],
    "address":[123,234,345]
}

print(people)

{'name': ['afsana', 'rabeya', 'rukaia'], 'email': ['1@', '2@', '3@'], 'address': [123, 234, 345]}

In [6]:
type(people)

dict

### creating a DataFrame from a dictionay 
df = pd.DataFrame(people)
df

### get the columns name 
df.columns

In [9]:
df["name"]

0    afsana
1    rabeya
2    rukaia
Name: name, dtype: object

### series 
type(df["name"])

In [11]:
df[["name","email"]]

     name email
0  afsana    1@
1  rabeya    2@
2  rukaia    3@

Accessing and shaping a dataframe by loc and iloc

### dataFrames column access

In [13]:
df["name"]

0    afsana
1    rabeya
2    rukaia
Name: name, dtype: object

In [14]:
df[["name","address"]]

     name  address
0  afsana      123
1  rabeya      234
2  rukaia      345

##iloc 
df.iloc[0]

In [ ]:
df.iloc[[0,1]] #### [[]] for multiple rows

In [17]:
df.iloc[0]

name       afsana
email          1@
address       123
Name: 0, dtype: object

In [18]:
df.iloc[[0,1],1] ####[[row1,row2],col1]

0    1@
1    2@
Name: email, dtype: object

### loc -> uses level not column/row name (same as row)

In [20]:
df.loc[0]

name       afsana
email          1@
address       123
Name: 0, dtype: object

In [21]:
df.loc[[0,1]]

     name email  address
0  afsana    1@      123
1  rabeya    2@      234

In [26]:
 df.loc[[1,2],"email"]
##to access a column by loc column number wwont work but the column name

1    2@
2    3@
Name: email, dtype: object